@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skeleton {
    display: inline-block;
    background-color: #222C4F;
    position: relative;
    overflow: hidden;
  }

  /* Skeleton animation */
  .skeleton::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(74, 105, 160) 50%, rgba(255, 255, 255, 0) 100%);
    animation: loading 1.5s infinite;
  }


  @keyframes loading {
    0% {
      left: -150px;
    }
    100% {
      left: 100%;
    }
  }


  .skeleton-text {
    height: 20px;
    width: 80%;
    margin: 10px 0;
    background-color: #f0f0f0;
  }


  .loading-dots {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: white;
    animation: bounce 0.6s 1s infinite alternate;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    to {
      transform: translateY(-10px);
      opacity: 0.5;
    }
  }